@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url(reset.css);
@import url(aside.css);

* {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

html {
    background-color: #272727;
    color: white;
}

.main {
    display: grid;
    grid-template-columns: 380px auto;
}