.nav__list :nth-child(6) {
    outline: 1px solid;
    border-color: white;
    border-radius: 18px;
}

.nav__list :nth-child(6) .nav__link:hover {
    color: #272727;
    fill: #272727;
}


body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 600px;
}

canvas {
    padding: 0;
    margin: 0;
}

div.btnbg {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}



.aside {

    border-right: 1px #272727 solid;
    background-color: #fff;
    color: #272727;
}

.nav__link {
    fill: #272727;
}

#Capa_1 {
    fill: #272727;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    gap: 30px;
    padding-top: 200px;
    text-align: center;
}

.title {
    font-size: 35px;
    font-weight: 500;
    color: #000000;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.register__link {
    font-size: 27px;

    font-optical-sizing: auto;
    font-weight: 500;
    color: #000000;
    letter-spacing: 1px;
}

.register {
    background-color: #f1c7c141;
    padding: 10px 20px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.register:hover {
    background-color: #f1c7c167;
    outline: #f8d7d3f1 2px solid;
}